<html>
<head>
	<title>Demo Preparation</title>
</head>

<body>
<h1>Demo Preparation</h1>
<p>
This pod is ready for PoV use.
</p>
<p>
The password for this pod's session is <b>{{ password }}</b>.<br>
Uses:
<ul>
  	<li>Guacamole: <b>dcloud</b>/<b>{{ password }}</b>
    <li>DMVPN: <b>set-dcloud-ip 1.2.3.4 {{ password }}</b>.
</ul>
</p>
<br>
<div id="debug">
<p>
    <h2>Debug Notes:</h2>
    <ul>
    {% for status in debug_log %}
        <li>{{ status }}<br>
    {% endfor %}
    </ul>
</p>
</div>
</body>
</html>
