{% extends "layout.htm" %}
{% block body %}
    <header>
        <h1>{{ title }}</h1>
    </header>

    <div id="mainbody">
        <div class="daxm mdl-card mdl-cell--4-col mdl-shadow--2dp">
             <div class="mdl-card__title">
                 <h2 class="mdl-card__title-text">
                     Pod is ready for PoV use
                 </h2>
             </div>
            <div class="mdl-card__actions mdl-card--border">
                The password for this session is: <b>{{ password }}</b>
                <ul>
                    <li>Guacamole: <b>dcloud</b>/<b>{{ password }}</b>
                    <li>DMVPN: <b>set-dcloud-ip 1.2.3.4 {{ password }}</b>
                </ul>
            </div>
        </div>

        <div class="daxm mdl-card mdl-cell--8-col mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">
                    Debug Notes
                </h2>
             </div>
            <div class="mdl-card__actions mdl-card--border">
                <ul>
                {% for status in debug_log %}
                    <li>{{ status }}<br>
                {% endfor %}
                </ul>
             </div>
        </div>
    </div>

{% endblock %}